<article class="group cursor-pointer">
  <a href="{% link _recipes/{{ recipe.slug }}.md %}" class="block">
    <img
      class="w-full rounded-lg shadow-sm"
      src="/assets/images/recipes/{{ recipe.slug }}.jpg"
      alt="{{ recipe.title }}"
      width="600"
      height="85" />
  </a>
  <div class="p-3">
    <h3 class="font-extrabold font-heading text-xl">
      <a href="{% link _recipes/{{ recipe.slug }}.md %}" class="">{{ recipe.title }}</a>
    </h3>
    <p class="tagline">{{ recipe.description }}</p>
  </div>
</article>