<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>
  <body class="antialiased bg-white text-gray-900 <%= resource.data.page_class %> <%= resource.data.layout %>">
    <!-- Header -->
    <header class="py-8 max-w-7xl mx-auto text-center">
      <!-- Logo -->
      <a href="/" class="">
        <div class="flex justify-center mb-2">
          <img src="/images/logo-bold.svg" alt="<%= site.metadata.title %>" class="w-36" />
        </div>
      </a>
      <div class=""><%= site.metadata.description %></div>
    </header>
    <!-- Main -->
    <main class=" max-w-7xl mx-auto">
      <%= yield %>
    </main>
    <!-- Footer -->
    <footer class="px-10 py-6 text-xs mb-0 bg-white text-center">
      Copyright <%= Time.now.year %> <%= site.metadata.title %>. All rights reserved.
    </footer>
  </body>
</html>
