<article class="recipe-card w-full bg-white">
  <a href="<%= recipe.relative_url %>">
    <!-- Feature Image -->
    <img class="w-full rounded-lg shadow-sm" 
          src="<%= cloudinary_url recipe.data.cloudinary_id, :small  %>"
          alt="<%= recipe.data.title %>"
          width="600"
          height="85" />
    <div class="py-3">
      <h3 class="font-extrabold font-heading text-xl"><%= recipe.data.title %></h3>
      <p class="tagline text"><%= recipe.data.description %></p>
    </div>
  </a>
</article>
